:root {
    --board-size: 7;
}

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 2vmin;
    height: 100vh;
    background-color: #d7d7dF;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: #333;
    height: 9vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 7vh;
    font-size: 2vmin;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#icons > * {
    height: 4vmin;
    margin: 1vmin;
    fill: white;
}

section {
    height: 5vmin;
    color: black;
    padding: 3vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


main {
    flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8vmin;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 5vmin;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

h4 {
    margin: 5vmin;
}

.board {
    background-color: black;
    width: 55vmin;
    height: 55vmin;
    margin: 2vmin;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    border: solid black 0.5vmin;
    border-radius: 1%;
}

#cpu-board > .ship {
    background-color: #3186FF;
    border-radius: 5%;
    border: #222 solid 0.4vmin;
}

#cpu-board > .ship:hover {
    background-color: #aaa;
    cursor: pointer;
    border: #222 solid 0.4vmin;
}

.node {
    background-color: #3186FF;
    border-radius: 5%;
    border: #222 solid 0.4vmin;
}

#cpu-board >.node:hover{
    background-color: #aaa;
    cursor: pointer;
}

.ship {
    background-color: #666;
    border-radius: 5%;
    border: #222 solid 0.4vmin;

}

.miss {
    background-image: linear-gradient(to top, #2222dd, #3030bc, #222C77);
    border: #222 solid 0.4vmin;
    border-radius: 5%;

}

.hit {
    background-image: linear-gradient(to top, #ff5533, #ff1111, #f3170A);
    border: #222 solid 0.4vmin;
    border-radius: 5%;

}

#board-input {
    float: right;
}

#ships-input {
    float: right;
}


#form-div {
    background-color: #333;
    width: 40vmin;
    height: 55vmin;
    margin: 2vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    border: solid black 0.5vmin;
    border-radius: 2vmin;
    accent-color: #ff8800;
    float: left;
    margin: 2vmin;
}

strong {
    font-size: 2.5vmin;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 30%;
}

form > div {
    display: flex;
    justify-content: space-between;

} 

input[type=range] {
    appearance: none; 
    background-color: #222;
    width: 100%;
    height: 2vmin;
    outline: none;
    border-radius: 2vmin;
    
}

.difficulty {

    height: 2vmin;
}

input:hover {
    cursor: pointer;
}
label {
    margin-bottom: 2vmin;
}


button {
    height: 8vmin;
    width: 20vmin;
    margin-bottom: 1vmin;
    border-radius: 10vmin;
    font-size: 0.1vmin;
    background-color:#ff8800;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 2.5vmin;
}

button:hover {
    background-color: #ff5511;
    cursor: pointer;
}

.placement-ship {
    background-color: #666;
    border: 0.3vmin black solid;
    border-radius: 2vmin;
    margin: 0.5vmin;
}

.placement-ship:hover {
    background-color: #444;
    border: solid black 0.4vmin;
    
}

#placement-board >.node:hover{
    background-color: #888;
    cursor: pointer;
}

#ship-container {
    border: solid black 0.5vmin;
    border-radius: 2vmin;
    width: 55vmin;
    height: 55vmin;
    margin: 2vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#ship-5 {
    height: 30vmin;
    width: 6vmin;
}

#ship-4 {
    height: 24vmin;
    width: 6vmin;
}

#ship-3 {
    height: 18vmin;
    width: 6vmin;
}

#ship-2 {
    height: 12vmin;
    width: 6vmin;
}

.selected-ship {
    background-color: #333;
    border: solid 0.4vmin #fff;
    border-radius: 2vmin;
    margin: 0.5vmin;
}

.valid-position {
    background-color: #373;
    border-radius: 5%;
    border: #222 solid 0.4vmin;
    cursor: pointer;
}

.invalid-position {
    background-color: red;
    border-radius: 5%;
    border: #222 solid 0.4vmin;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {

    #form-div {
        width: 55vmin;
    }


} 