:root {
    --board-size: 7;
}

html, body {
    font-family: "Permanent Marker", cursive;
    font-size: 2.5vmin;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    background-image: linear-gradient(to bottom, #676F77, #777f87);
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header, footer {
    background-color: #333;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    justify-content: space-between;
    font-family: sans-serif;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#icons > * {
    height: 5vmin;

    margin: 1vmin;
    fill: white;
}

section {
    height: 5vmin;
    background-color: #373F47;
    color: white;
    padding: 2vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 8vmin;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 5vmin;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

h4 {
    margin: 5vmin;
}

.board {
    background-color: black;
    width: 50vmin;
    height: 50vmin;
    margin: 2vmin;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    gap: 0.2vmin;
    border: solid black 0.5vmin;
    border-radius: 2%;
}

#cpu-board > .ship {
    background-image: linear-gradient(to top, #55aaFF, #55aaFF);
    border-radius: 10%;
    border: #222 solid 0.2vmin;
}

#cpu-board > .ship:hover {
    background-color: #888;
    cursor: pointer;
    border: #222 solid 0.2vmin;
}

.node {
    background-color: #55aaFF;
    border-radius: 10%;
    border: #222 solid 0.2vmin;
}

#cpu-board >.node:hover{
    background-color: #888;
    cursor: pointer;
}

.ship {
    background-color: #454545;
    border-radius: 10%;
    border: #222 solid 0.2vmin;

}


#cpu-board > .ship:hover {
    background-color: #888;
    cursor: pointer;
}

.miss {
    background-image: linear-gradient(to top, #4444dd, #3333cc, #222C77);
    border: #222 solid 0.2vmin;
    border-radius: 10%;

}

.hit {
    background-image: linear-gradient(to top, #ff4444, #ff1111, #cc1111);
    border: #222 solid 0.2vmin;
    border-radius: 10%;

}




#form-div {
    background-color: #333;
    width: 50vmin;
    height: 45vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: solid black 0.2vmin;
    border-radius: 20%;
    padding: 5vmin;
    accent-color: #ffaa33;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 45%;
    height: 30%;
}

form > div {
    display: flex;
    justify-content: space-between;

} 



button:hover {
    background-color: #f88;
    cursor: pointer;
    color: black;
}

input:hover {
    cursor: pointer;
}

#name-input {
    cursor: auto;
}


button {
    height: 7vmin;
    width: 20vmin;
    border-radius: 10vmin;
    font-size: 2vmin;
    background-color:#ffaa33;
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 2.5vmin;
}

.placement-ship {
    background-color: #454545;
    border: 0.1vmin black solid;
    border-radius: 2vmin;
    margin: 0.4vmin;
}

.placement-ship:hover {
    background-color: #222;
    border: solid black 1px;
    
}

#placement-board >.node:hover{
    background-color: #888;
    cursor: pointer;
}

#ship-container {
    border: solid black 1vmin;
    border-radius: 2vmin;
    height: 50vmin;
    width: 50vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#ship-5 {
    height: 30vmin;
    width: 5vmin;
}

#ship-4 {
    height: 24vmin;
    width: 5vmin;
}

#ship-3 {
    height: 18vmin;
    width: 5vmin;
}

#ship-2 {
    height: 12vmin;
    width: 5vmin;
}

.selected-ship {
    background-color: #333;
    border: solid 0.2vmin white;
    border-radius: 2vmin;
    margin: 0.4vmin;
}