:root {
    --board-size: 7;
}

body {
    font-family: cursive;
    font-size: 2vmin;
    height: 100vh;
    background-color: #e7e7eF;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    background-color: #333;
    height: 10vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 5vh;
    font-size: 2vmin;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#icons > * {
    height: 3vmin;

    margin: 1vmin;
    fill: white;
}

section {
    height: 5vmin;
    color: black;
    padding: 2vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#controls-section {
    margin: 1vmin;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 8vmin;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 5vmin;
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}

h4 {
    margin: 5vmin;
}

.board {
    background-color: black;
    width: 60vmin;
    height: 60vmin;
    margin: 2vmin;
    display: grid;
    grid-template-columns: repeat(var(--board-size), 1fr);
    grid-template-rows: repeat(var(--board-size), 1fr);
    gap: 0.2vmin;
    border: solid black 0.5vmin;
    border-radius: 1%;
}

#cpu-board > .ship {
    background-color: #2176FF;
    border-radius: 5%;
    border: #222 solid 0.2vmin;
}

#cpu-board > .ship:hover {
    background-color: #888;
    cursor: pointer;
    border: #222 solid 0.2vmin;
}

.node {
    background-color: #2176FF;
    border-radius: 5%;
    border: #222 solid 0.2vmin;
}

#cpu-board >.node:hover{
    background-color: #888;
    cursor: pointer;
}

.ship {
    background-color: #8B8982;
    border-radius: 5%;
    border: #222 solid 0.2vmin;

}

.miss {
    background-image: linear-gradient(to top, #2222dd, #3443bc, #222C77);
    border: #222 solid 0.2vmin;
    border-radius: 5%;

}

.hit {
    background-image: linear-gradient(to top, #ff7744, #ff1111, #E3170A);
    border: #222 solid 0.2vmin;
    border-radius: 5%;

}

#board-input {
    float: right;
}

#ships-input {
    float: right;
}


#form-div {
    background-color: #333;
    width: 40vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    border: solid black 0.5vmin;
    border-radius: 2vmin;
    accent-color: #ffaa33;
    float: left;
    margin: 2vmin;
}

strong {
    font-size: 2.5vmin;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: 30%;
}

form > div {
    display: flex;
    justify-content: space-between;

} 

input[type=range] {
    appearance: none; 
    background-color: #222;
    width: 100%;
    outline: none;
    border-radius: 2vmin;
}

.difficulty {

    height: 2vmin;
}

input:hover {
    cursor: pointer;
}

#name-input {
    cursor: auto;
}


button {
    height: 7vmin;
    width: 20vmin;

    border-radius: 10vmin;
    font-size: 0.1vmin;
    background-color:#ffaa33;
    color: #fff;
    border: 0;
    font-weight: 700;
    font-size: 2.5vmin;
    border: solid black 0.3vmin;
}

button:hover {
    background-color: #ff5511;
    cursor: pointer;
}

.placement-ship {
    background-color: #8B8982;
    border: 0.3vmin black solid;
    border-radius: 2vmin;
    margin: 0.5vmin;
}

.placement-ship:hover {
    background-color: #222;
    border: solid black 0.3vmin;
    
}

#placement-board >.node:hover{
    background-color: #888;
    cursor: pointer;
}

#ship-container {
    border: solid black 0.5vmin;
    border-radius: 2vmin;
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vmin;
}

#ship-5 {
    height: 30vmin;
    width: 6vmin;
}

#ship-4 {
    height: 24vmin;
    width: 6vmin;
}

#ship-3 {
    height: 18vmin;
    width: 6vmin;
}

#ship-2 {
    height: 12vmin;
    width: 6vmin;
}

.selected-ship {
    background-color: #555;
    border: solid 0.3vmin #ddd;
    border-radius: 2vmin;
    margin: 0.5vmin;
}

.valid-position {
    background-color: green;
    border-radius: 5%;
    border: #222 solid 0.2vmin;
    cursor: pointer;
}

.invalid-position {
    background-color: red;
    border-radius: 5%;
    border: #222 solid 0.2vmin;
    cursor: pointer;
}